{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content1 %}
<p>
    {% blocktrans %}
    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p>
<div style="background: #e0eaf2;; color:black; padding-bottom: 2%; border-radius:5px; margin-top: 25%;" >
    <h1 style="color: #e6f5ef; padding-top: 2% ;padding-bottom: 2%; border-style: solid;margin: 0 0 0 0;border-color:#2b2a2b; background-color: #274259">PASSWORD RESET FORM</h1>
    <form method="post" action="" style="padding-top: 5%; padding-right:5%;padding-left:5%; padding-bottom:2%; color : black" >
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" style="background: #274259; border-color: #274259; color: white"value="{% trans 'Reset password' %}" />
</form>
{% endblock %}


{# This is used by django.contrib.auth #}
