{% extends "registration/registration_base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content1 %}
<div style="background: #e0eaf2;; color:black; padding-bottom: 2%; border-radius:5px;margin-top: 15%;" >
    <h1 style="color: #e6f5ef; padding-top: 2% ;padding-bottom: 2%; border-style: solid;margin: 0 0 0 0;border-color:#2b2a2b; background-color: #274259">SIGN UP</h1>
    <form method="post" action="" style="padding-top: 5%; padding-right:5%;padding-left:5%; padding-bottom:2%; color : black" >
    {% csrf_token %}
    {{ form|crispy }}

    <input class="btn btn-primary" style="background: #274259; border-color: #274259; color: white"type="submit" value="{% trans 'Submit' %}" />
</form>
</div>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
