{% extends "base.html" %}

{% block title %}
	{{title}}
{% endblock title %}

{% block content %}
    {% if request.user.is_authenticated %}
		{% include "questions/logged_in_home.html" %}
    {% else %}
		{% include "questions/logged_out_home.html" %}
	{% endif %}

<div style="position:absolute; text-align: center; width: 100vw; bottom: 2%; overflow: hidden; font-size: 20px; color: grey">Made for SOE Semester Project under the supervision of Dr. Abhishek Vaish, Dr. Sonali Agarwal, Mr. Ashutosh Kumar and Mr. Amit Kumar</div>

{% endblock %}