<!-- <div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h1 class="text-center">Instructions</h1>
		<h6 class="text-center">(Read all the instructions very carefully.)</h6>
		<ul class="list-group">
		  <li class="list-group-item">1. You must attempt all of the questions.</li>
		  <li class="list-group-item">2. All of the questions have four choices each.</li>
		  <li class="list-group-item">3. Only one of them is correct.</li>
		  <li class="list-group-item">4. You can finish the attempt early by clicking on Finish Attempt.</li>
		  <li class="list-group-item">5. The Score of this exam will be available as soon as you finish your attempt.</li>
		</ul>
	</div>
</div> -->

<div>
	<div class="col-sm-8 col-sm-offset-2">
		<div class="jumbotron" style="background-image: linear-gradient(to bottom right, #608fb9,#b4e3f7, #608fb9);margin-top: 15%;">
			<h1 class="text-center">Instructions</h1>
			<h6 class="text-center">(Read all the instructions very carefully.)</h6>
			<br>
			<ul class="list-group" style="background: #f6fcff">
			  <li class="list-group-item" style="background: #f6fcff">1. You must attempt all of the questions.</li>
			  <li class="list-group-item" style="background: #f6fcff">2. All of the questions have four choices each.</li>
			  <li class="list-group-item" style="background: #f6fcff">3. Only one of them is correct.</li>
			  <li class="list-group-item" style="background: #f6fcff">4. You can finish the attempt early by clicking on Finish Attempt.</li>
			  <li class="list-group-item" style="background: #f6fcff">5. The Score of this exam will be available as soon as you finish your attempt.</li>
			</ul>
			<!-- <ol class="list-group">
			  <li style="font-size: 22px;">You must attempt all of the questions.</li>
			  <li style="font-size: 22px;">All of the questions have four choices each.</li>
			  <li style="font-size: 22px;">Only one of them is correct.</li>
			  <li style="font-size: 22px;">You can finish the attempt early by clicking on Finish Attempt.</li>
			  <li style="font-size: 22px;">The Score of this exam will be available as soon as you finish your attempt.</li>
			</ol> -->
		</div>
	</div>

</div>
